.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro ul {
    display: flex;

    list-style: none;
}

.filtro li {
    margin-right: 15px;
}

.filtro button {
    background-color: aliceblue;
    color: blue;
    display: flex;
    align-items: center;
}

.filtro button svg {
    margin-right: 5px;
}

.filtro .urgente {
    color: red;
}

.filtro .moderado {
    color: orange;
}

.filtro .normal {
    color: green;
}

.filtro button.ativo {
    background-color: #bbb;
    font-weight: 700;
}